<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adm.werock.sportstats"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/Theme.Example" >
        <!-- main activity -->    
        <activity
            android:name="adm.werock.sportstats.MainActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Login activity -->    
        <activity
            android:name="adm.werock.sportstats.LoginActivity"
            android:label="@string/titleLogin" >
        </activity>
        <!-- Register activity -->    
      	<activity
            android:name="adm.werock.sportstats.RegisterActivity"
            android:label="@string/titleRegister" 
           	android:parentActivityName="adm.werock.sportstats.LoginActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="adm.werock.sportstats.LoginActivity" />
        </activity>
        <!-- My acts activity -->    
        <activity
            android:name="adm.werock.sportstats.MyActsActivity"
            android:label="@string/titleMyActs" 
           	android:parentActivityName="adm.werock.sportstats.LoginActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="adm.werock.sportstats.LoginActivity" />
        </activity>
        <!-- Create act activity -->    
        <activity
            android:name="adm.werock.sportstats.CreateActActivity"
            android:label="@string/titleCreateAct" 
           	android:parentActivityName="adm.werock.sportstats.MyActsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="adm.werock.sportstats.MyActsActivity" />
        </activity>
    </application>

</manifest>
